* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

.container {
  min-width: 300px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

.header-wrapper {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
  margin-right: 53px;
}

@media (min-width: 768px) {
  .header-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px;
    margin-bottom: 0px;
  }
}

.logo {
  margin-right: 41px;
  position: inherit;
  z-index: 2;
  text-align: center;
}

.logo .logo-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

.logo .logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0%;
  right: -100%;
  opacity: 0;
  width: 320px;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 0;
  background: #292929;
}

.nav-menu a {
  display: block;
  margin-top: 40px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #FAFAFA;
}

@media (min-width: 768px) {
  .nav-menu {
    position: static;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 443px;
    height: auto;
    opacity: 1;
    background: transparent;
  }
  .nav-menu .nav-link a {
    margin-left: auto;
    margin-top: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
  }
}

.nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  background: #292929;
}

.nav-active .nav-link {
  text-align: center;
  margin-top: 40px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-active .nav-link {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.nav-active .nav-link:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-active .nav-link:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.nav-active .nav-link:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-active .nav-link:nth-child(4) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.nav-active a {
  display: block;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #FAFAFA;
}

.nav-link :hover a {
  color: #FFFFFF;
}

.nav-link-active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.burger-menu {
  position: inherit;
  z-index: 1;
  cursor: pointer;
  margin-top: 19px;
  position: relative;
  min-width: 30px;
  height: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.burger-menu span {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 30px;
  height: 2.2px;
  background-color: #f1cdb3;
}

.burger-menu :nth-child(2) {
  top: 10px;
}

.burger-menu :nth-child(3) {
  top: 20px;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.deactive {
  display: block;
}

@media (min-width: 768px) {
  .deactive {
    display: none;
  }
}

.burger-menu-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: static;
  z-index: 1;
}

@media (min-width: 768px) {
  .burger-menu-active {
    display: none;
  }
}

.body-active {
  height: 100vh;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (min-width: 1280px) {
  header {
    margin-top: 60px;
  }
  .header-wrapper {
    margin: 0px;
  }
  .logo-subtitle {
    margin-top: 10px;
  }
  .nav-menu .nav-link a {
    position: relative;
    cursor: pointer;
  }
  .nav-menu .nav-link a::before {
    position: absolute;
    left: 0;
    top: 25px;
    width: 0%;
    height: 2px;
    content: '';
    background-color: #f1cdb3;
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
  }
  .nav-menu .nav-link a:hover::before, .nav-menu .nav-link a:focus:after {
    width: 100%;
  }
}

.promo {
  margin-top: -120px;
  padding-top: 180px;
  background: url(../../images/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 673px;
}

.promo-wrapper {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.promo-text {
  margin-top: 42px;
  width: 300px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  color: #cdcdcd;
}

.promo-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 207px;
  height: 52px;
  align-items: center;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: 1px solid #F1CDB3;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #292929;
  line-height: 130%;
  margin-top: 40px;
  padding: 0px;
}

.promo-btn:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.promo-foto {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 104px;
  margin-right: 10px;
  width: 260px;
}

.promo-foto img {
  width: 100%;
}

@media (min-width: 768px) {
  .promo {
    height: auto;
  }
  .promo-title {
    font-size: 44px;
    text-align: left;
    letter-spacing: 0;
  }
  .promo-text {
    width: 459px;
    text-align: left;
  }
  .promo-foto {
    width: 560px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 30px;
  }
}

@media (min-width: 1280px) {
  .promo {
    padding-top: 175px;
    height: 733px;
  }
  .promo-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .promo-btn {
    margin-left: 0;
    margin-top: 42px;
  }
  .promo-items {
    margin-left: 0px;
    margin-top: 167px;
  }
  .promo-title {
    letter-spacing: 0em;
  }
  .promo-foto {
    width: 698px;
    margin-top: 0;
    margin-right: 0;
  }
  .promo-foto img {
    width: 101%;
  }
}

.pets-about {
  padding-bottom: 39px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-foto {
  width: 300px;
  margin-top: 42px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-foto img {
  width: 86%;
  margin-left: 20px;
}

.about-items {
  margin-top: 42px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.about-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-text {
  margin-top: 22px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  width: 270px;
  text-align: justify;
  color: #4C4C4C;
}

.text2 {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .pets-about {
    padding-bottom: 95px;
  }
  .about-wrapper {
    margin: 0 auto;
    margin-top: 40px;
    width: 437px;
  }
  .about-title {
    text-align: left;
    font-size: 35px;
  }
  .about-items {
    width: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-text {
    width: 430px;
    text-align: left;
    margin-top: 25px;
  }
  .text2 {
    margin-top: 23px;
  }
  .about-foto {
    margin-top: 80px;
    margin-right: 40px;
  }
  .about-foto img {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .about-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 860px;
    margin-top: 79px;
  }
  .about-foto {
    margin-right: 0px;
    margin-left: -15px;
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .about-items {
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-title {
    font-size: 35px;
    text-align: left;
  }
  .about-text {
    text-align: left;
  }
  .about-title, .about-text {
    margin-left: -5px;
  }
}

.pets {
  background: #F6F6F6;
  padding-top: 42px;
  padding-bottom: 42px;
}

.pets-wrapper {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-btn {
  margin-top: 41px;
  width: 207px;
  height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: 1px solid #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 17px;
  padding: 15px 40px;
  width: 260px;
  display: block;
  color: #545454;
}

.pets-btn:hover {
  background-color: #FDDCC4;
  border: 1px solid #FDDCC4;
  cursor: pointer;
}

.pets-box {
  min-width: 300px;
  margin-top: 42px;
}

.pets-card {
  margin: 0 auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  animation: ani 0.5s forwards;
}

.pets-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-card:hover .pets-card-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F1CDB3;
  color: #545454;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.pets-card:hover .pets-card-btn:hover {
  background-color: #FDDCC4;
  border: 1px solid #FDDCC4;
}

.pets-img {
  width: auto;
}

.pets-name {
  margin-top: 25px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 23px;
  font-size: 20px;
}

.pets-card-btn {
  display: block;
  margin: 0 auto;
  width: 207px;
  height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: 1px solid #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  width: 191px;
  font-size: 17px;
  background: #FAFAFA;
  margin-top: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #545454;
}

.pets-card-btn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 1px solid #FDDCC4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.prev, .next {
  margin-top: 20px;
  width: 207px;
  height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: 1px solid #F1CDB3;
  width: 50px;
  padding: 0;
  background: #fff;
  display: inline-block;
}

.prev:hover, .next:hover {
  background-color: #FDDCC4;
  border: 1px solid #FDDCC4;
  cursor: pointer;
}

.prev {
  margin-right: 80px;
  margin-left: 56px;
}

.pets-card[data-card="jennifer"], .pets-card[data-card="woody"] {
  display: none;
}

@media (min-width: 768px) {
  .pets {
    padding: 80px 0px 100px 0px;
  }
  .pets-btn {
    margin-top: 60px;
  }
  .pets-box {
    position: relative;
    margin-top: 60px;
    min-width: 708px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .pets-card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 620px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            
  }

  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }





  .pets-title {
    font-size: 35px;
  }
  .pets-card[data-card="jennifer"] {
    display: block;
    animation: ani 0.5s forwards;
  }
  .pets-btn-box {
    left: 0;
    position: absolute;
  }
  .prev {
    margin: 0px;
    position: absolute;
    left: 0;
    bottom: -25px;
  }
  .next {
    position: absolute;
    left: 657px;
    bottom: -25px;
    margin: 0px;
  }
}

@media (min-width: 1280px) {
  .pets {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .pets-wrapper {
    width: 1200px;
  }
  .pets-box {
    width: 1200px;
  }
  .pets-card-box {
    width: 1097px;
  }
  .pets-card {
    margin-left: 54px;
  }
  .pets-card[data-card="woody"] {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 53px;
  }
  .pets-title {
    margin-top: 42px;
    font-size: 35px;
  }
  .next {
    margin: 0;
    left: 1149px;
  }
  .pets-name {
    margin-top: 25px;
  }
  .pets-card-btn {
    width: 190px;
  }
  .pets-btn {
    width: 264px;
    margin-top: 60px;
  }
}

.help-pets {
  padding: 41px 0px;
}

.help-wrapper {
  margin: 0 auto;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help-content-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.help-content {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-content img {
  width: 39%;
}

.content-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 15px;
  line-height: 110%;
  margin-top: 20px;
  color: #545454;
}

@media (min-width: 768px) {
  .help-pets {
    padding: 80px 0px 100px 0px;
  }
  .help-wrapper {
    min-width: 630px;
  }
  .help-title {
    font-size: 35px;
    width: 310px;
  }
  .help-content-wrapper {
    width: 630px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
    gap: 56px;
  }
  .help-content {
    width: 170px;
  }
  .help-content img {
    width: 35%;
  }
  .content-title {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .help-pets {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .help-content-wrapper {
    width: 1111px;
    -webkit-column-gap: 61px;
            column-gap: 61px;
    row-gap: 55px;
    margin-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .vitamin-icon {
    margin-left: 86px;
  }
  .help-content {
    width: 170px;
  }
  .content-title {
    font-size: 20px;
    margin-top: 30px;
  }
  .bowls {
    margin-left: -5px;
  }
  .shampoon {
    margin-left: 15px;
  }
  .medicines {
    margin-left: -15px;
  }
  .collars {
    margin-left: 22px;
  }
  .sleaping-area {
    margin-left: 43px;
  }
}

.donatation {
  background-color: #f6f6f6;
  padding: 42px 0px;
  padding-bottom: 39px;
}

.donat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dotan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
}

.donat-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donat-subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 0;
}

.donat-card {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 281px;
  height: 42px;
  background: #f1cdb3;
  border-radius: 9px;
}

.donat-card:hover {
  background-color: #FDDCC4;
}

.donat-card img {
  display: block;
  width: 30px;
  margin-right: 15px;
}

.donat-card a {
  display: block;
}

.card-info {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 15px;
  line-height: 110%;
  color: #545454;
}

.donat-text {
  width: 280px;
  margin-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  color: #B2B2B2;
}

.donat-foto {
  margin-top: 42px;
  width: 280px;
}

.donat-foto img {
  width: 93%;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .donatation {
    padding: 82px 0px 96px 0px;
  }
  .dotan-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .donat-foto {
    width: 538px;
    margin-top: 60px;
  }
  .donat-foto img {
    width: 94%;
    margin-left: 15px;
  }
  .donat-title {
    font-size: 35px;
    text-align: left;
  }
  .donat-subtitle {
    font-size: 17px;
    margin-top: 22px;
    line-height: 60%;
  }
  .donat-card {
    width: 349px;
  }
  .card-info {
    font-size: 20px;
    line-height: 115%;
  }
  .donat-text {
    width: 380px;
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .donatation {
    padding-bottom: 103px;
  }
  .donat-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
  .dotan-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .donat-foto {
    margin-top: 0;
  }
  .donat-foto img {
    margin-left: 0;
  }
}

footer {
  padding-top: 30px;
  background: url(../../images/start-screen-gradient-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 39px;
}

.contacts {
  width: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-title, .address-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.first-address-box, .second-address-box, .tel-box, .email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-address-box a, .second-address-box a, .tel-box a, .email-box a {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 80%;
  color: #F1CDB3;
}

.email-box {
  margin-top: 37px;
  width: 251px;
}

.tel-box {
  margin-top: 40px;
  width: 239px;
}

.first-address-box, .second-address-box {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 300px;
  margin-top: 40px;
}

.first-address-box .location-link, .second-address-box .location-link {
  margin-left: 19px;
  text-align: left;
}

.address {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address-title {
  width: 260px;
}

.first-address-box {
  margin-top: 40px;
}

.first-address-box a {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-foto {
  width: 260px;
}

.footer-foto img {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-wrapper {
    min-width: 708px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .contacts {
    width: 300px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .address {
    width: 300px;
    text-align: left;
  }
  .contact-title, .address-title {
    text-align: left;
    font-size: 35px;
    width: auto;
  }
  .footer-foto {
    width: 300px;
    margin-top: 26px;
  }
  .first-address-box {
    margin-top: 32px;
  }
  .second-address-box {
    margin-top: 31px;
  }
}

@media (min-width: 1280px) {
  footer {
    padding-top: 0;
  }
  .footer-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts {
    width: 300px;
    height: 234px;
  }
  .address {
    width: 320px;
    height: 234px;
  }
  .first-address-box, .second-address-box {
    width: 325px;
    margin-top: 0px;
  }
  .email-box, .tel-box {
    margin-top: 0;
  }
  .footer-foto {
    margin-top: 40px;
  }
  .footer-foto img {
    width: 99%;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-pets-box {
  position: relative;
  z-index: 1;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  padding: 10px;
}

.modal-pets-box:hover {
  cursor: default;
}

.modal-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.modal-foto {
  display: none;
  animation: ani 0.5s forwards;
}

.pets-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
          animation: ani 0.5s forwards;
}

.modal-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  font-size: 35px;
  color: black;
}

.modal-subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 20px;
  line-height: 115%;
  color: black;
}

.modal-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 13px;
  line-height: 110%;
  color: black;
  text-align: justify;
  margin-top: 20px;
}

.modal-info-more {
  margin-top: 24px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: left;
  padding-left: 15px;
  position: relative;
}

.modal-info-more li::before {
  content: '';
  position: absolute;
  left: 0;
  margin-top: 4px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #f1cdb3;
}

.modal-info-more span {
  font-weight: 700;
}

.modal-close {
  position: absolute;
  right: -22px;
  top: -58px;
  width: 52px;
  height: 52px;
  border: 1px solid #f1cdb3;
  border-radius: 100%;
  background-image: url("../../icons/Vector.png");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close:hover {
  background-color: #FDDCC4;
  border: 1px solid #FDDCC4;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-pets-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 630px;
    height: 350px;
  }
  .modal-foto {
    display: block;
    width: 340px;
  }
  .modal-foto img {
    width: 100%;
  }
  .pets-info-box {
    width: 260px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .modal-title, .modal-subtitle {
    margin: 0;
    margin-top: 15px;
  }
  .modal-close {
    right: -42px;
    top: -52px;
  }
}

@media (min-width: 1280px) {
  .modal-pets-box {
    width: 900px;
    height: 500px;
  }
  .pets-info-box {
    margin-top: 50px;
    width: 351px;
  }
  .modal-foto {
    display: block;
    width: 500px;
  }
  .modal-foto img {
    width: 100%;
  }
  .modal-text {
    font-size: 15px;
    line-height: 110%;
  }
  .modal-info-more {
    min-width: 154px;
    font-size: 15px;
  }
  .modal-info-more li {
    margin-top: 10px;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}


